# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
myenv/
.env
.env.*

# VS Code settings
.vscode/

# Prisma
app/prisma/migrations/
app/prisma/__pycache__/
prisma/

# Python cache
*.log
*.sqlite3
*.db

# MacOS & system files
.DS_Store

# Node.js junk (in case you use frontend inside same project)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

